[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "milkotech.github.io"]
	path = milkotech.github.io
	url = git@github.com:milkotech/milkotech.github.io.git
